<app-header 
  [userName]="userName"
  [activeCareer]="activeCareer"
  [activePlanName]="activePlanName"
  (openProfile)="onOpenProfile()"
  (logout)="onLogout()"
  (goHome)="onGoHome()"
  (changePlan)="onChangePlan()"
></app-header>


<!-- MODAL PERFIL -->
<app-profile-modal
  [show]="showProfileModal"
  [email]="email"
  [fullName]="fullName"
  (close)="onCloseProfile()"
  (save)="onSaveProfile($event)"
></app-profile-modal>

<!-- Aca se cargan las pantallas -->
<router-outlet></router-outlet>