<div class="auth-container">
  <h2>Crear cuenta nueva</h2>

  <form (ngSubmit)="register()">

    <input
      type="email"
      placeholder="Email"
      [(ngModel)]="email"
      name="email"
      required
    />

    <input
      type="password"
      placeholder="Contraseña"
      [(ngModel)]="password"
      name="password"
      required
    />

    <button type="submit" class="primary-btn">
      Registrar
    </button>
  </form>

  <button type="button" class="secondary-btn" (click)="goBack()">
    Volver
  </button>
</div>
