<div class="subjects-container">
  <h2>Materias</h2>

  <div *ngIf="loading">Cargando materias...</div>

  <div *ngIf="!loading">

    <div *ngFor="let s of subjects" class="subject-card">

    <div class="info">
      <strong>{{ s.name }}</strong>
      <small>{{ s.code }}</small>
    </div>


<div class="status-buttons">

  <button
    class="status-btn"
    [class.active]="userSubjects[s.plan_subject_id] === 'sin_cursar'"
    [class.sin-cursar]="true"
    (click)="changeStatus(s.plan_subject_id, 'sin_cursar')">
    Sin cursar
  </button>

  <button
    class="status-btn"
    [class.active]="userSubjects[s.plan_subject_id] === 'aprobada'"
    [class.aprobada]="true"
    (click)="changeStatus(s.plan_subject_id, 'aprobada')">
    Aprobada
  </button>

  <button
    class="status-btn"
    [class.active]="userSubjects[s.plan_subject_id] === 'pendiente_final'"
    [class.pendiente-final]="true"
    (click)="changeStatus(s.plan_subject_id, 'pendiente_final')">
    Pendiente final
  </button>

  <button
    class="status-btn"
    [class.active]="userSubjects[s.plan_subject_id] === 'desaprobada'"
    [class.desaprobada]="true"
    (click)="changeStatus(s.plan_subject_id, 'desaprobada')">
    Desaprobada
  </button>

</div>


    </div>

  </div>
</div>
