<div class="auth-container">
  <h2>Ingresar</h2>

  <form (ngSubmit)="login()">

    <input
      type="email"
      [(ngModel)]="email"
      name="email"
      placeholder="Email"
      required
    />

    <input
      type="password"
      [(ngModel)]="password"
      name="password"
      placeholder="Contraseña"
      required
    />

    <button type="submit" class="primary-btn">
      Ingresar
    </button>

    <button type="button" class="secondary-btn" (click)="register()">
      Crear cuenta nueva
    </button>

  </form>
</div>
